/* testing */
* {
  border: 1px solid blue;
  box-sizing: border-box;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}
/* end testing */

.box {
  text-align: center;
  position: relative;
}

/* alternate black and white boxes */
.box:nth-child(even) {
  background: white;
  color: black;
}
.box:nth-child(odd) {
  background: black;
  color: white;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10vw;
  font-weight: 400;
  padding: 10% 10%;
  text-align: center;
}

.nav-bar {
  height: 20vw;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}

.nav-bar > ul {
  list-style: none;
  padding: 0;
  display: inline-block;
  overflow: auto;
}

.btn {
  float: left;
  margin: auto;
  font-size: 3vw;
  padding: 10vw 10vw;
  transition: 0.3s background-color ease-in-out;
  text-decoration: none;
}

.btn > a {
  background-color: grey;
  color: white;
}

.btn:hover {
  color: black;
  background-color: grey;
  transition: 0.3s background-color ease-in-out;
}

@media all and (min-width: 768px) {
  .box {
    color: black;
    background-color: white;
  }

  .box:nth-child(odd) {
    background: white;
    color: black;
  }

  .box:nth-child(even) {
    background: black;
    color: white;
  }

  p {
    font-weight: 700;
  }
}

@media all and (min-width: 1000px) {
  .box {
    color: white;
    background-color: black;
    float: left;
    width: 50%;
  }

  .box:nth-child(even) {
    background: white;
    color: black;
  }

  .box:nth-child(odd) {
    background: black;
    color: white;
  }

  p {
    font-size: 15vw;
    font-weight: 900;
  }
}
