* {
  /*
  border: 1px solid blue;
  background-color: rgba(0, 0, 0, 0.1);
  */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  box-sizing: border-box;
  margin: 0px;
  color: white;
  text-decoration: none;
}

.box {
  text-align: center;
  position: relative;
}

/* alternate black and white boxes */
.box:nth-child(even) {
  background: white;
  color: black;
}
.box:nth-child(odd) {
  background: black;
  color: white;
  clear: left;
  /*
  clear: left is important for large screens,
  at which point there are two columns of text.
  */
}

p {
  font-size: 8vw;
  font-weight: 400;
  padding: 10% 10%;
  text-align: center;
}

img {
  width: 7vw;
  border-radius: 5px;
  display: inline;
}

.nav-bar {
  height: 20vw;
  width: 100%;
  background-color: black;
  color: black;
  text-align: center;
}

.nav-bar > ul {
  list-style: none;
  padding: 0;
  display: inline-block;
  overflow: auto;
}

.btn {
  float: left;
  margin: auto;
  font-size: 4vw;
  padding: 10vw 10vw;
  transition: 0.3s background-color ease-in-out;
  text-decoration: none;
}

.btn > a {
  color: white;
}

.btn:hover {
  color: black;
  background-color: white;
  transition: 0.3s background-color ease-in-out;
}

@media all and (min-width: 768px) {
  .box {
    color: black;
    background-color: white;
  }

  .box:nth-child(odd) {
    background: white;
    color: black;
  }

  .box:nth-child(even) {
    background: black;
    color: white;
  }

  p {
    font-weight: 700;
  }
}

@media all and (min-width: 1000px) {
  .box {
    color: white;
    background-color: black;
    float: left;
    width: 50%;
  }

  .box:nth-child(4) {
    background: white;
    color: black;
  }

  p {
    font-weight: 900;
  }
}
